*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{

    background:#000;

    color:white;

    font-family:Georgia, serif;

}
header{

    position:relative;

    z-index:10;

}
.narvcolor{
    background:#12121200;

}
.navbar{
    
    width:90%;

    margin:auto;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 0;

}
.logo{

    font-size:20px;

    color:white;

}
.menu{

    display:flex;

    list-style:none;

    gap:20px;
    

}
.menu a{

    color:white;

    text-decoration:none;

    font-size:16px;

    transition:.3s;

}
.menu a:hover{

    color:#c2c2c2;

}
.hero{

    height:98vh; /*esto aplica toda la altura de la pantalla, es parte de las etiquetas que habia que investigar segun la clase del 28/07 */

    display:flex;

    justify-content:center;

    align-items:center;

}
.hero-contenido{

    width:915px;

    text-align:center;

}
.hero h1{

    font-size:60px;

    margin-bottom:10px;

    text-transform:uppercase;

}
.hero h2{

    font-size:15px;

    font-weight:normal;

    color:#c9c9c9;

    margin-bottom:56px;

}
.hero p{

    font-size:18px;

    line-height:1.6;

    color:#d0d0d0;

    margin-bottom:65px;

}
.botones{

    display:flex;

    justify-content:center;

    gap:25px;

}
.btn{

    text-decoration:none;

    padding:18px 40px;

    border-radius:8px;

    font-size:20px;

    transition:.3s;

}
.btn-morado{

    background:#490064;

    color:white;

}
.btn-blanco{

    background:white;

    color:#490064;

}
.btn:hover{

    transform:scale(1.05);

}
#tsparticles{

    position:fixed;

    width:100%;

    height:100%;

    top:0;

    left:0;

    z-index:-1;

    background:#000;

}
#tsparticles{
    position: fixed;
    inset: 0;
    z-index: -2;
}

#mask{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.92);
    z-index: -1;
    pointer-events: none;
}
